@model IEnumerable<waSemana11.producto>

@{
    ViewBag.Title = "Index";
}


<div class="text-center">

    <h2 class="text-center">Listado de Prodcutos</h2>
    <p>
        @Html.ActionLink("Crear Producto", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>
<table class="table table-striped">
    <thead class="bg-dark text-light">
        <tr>
            <th>
                NOMBRE
            </th>
            <th>
                PRECIO
            </th>
            <th>
                STOCK
            </th>
            <th>
                VENCIMIENTO
            </th>
            <th>
                CATEGORIA
            </th>
            <th>EDITAR</th>
            <th>DETALLES</th>
            <th>ELIMINAR</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nompro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prepro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockpro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fvpro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.nomcat)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idpro }, new { @class = "btn btn-success" })

            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.idpro }, new { @class = "btn btn-warning" })

            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.idpro }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
